*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 2rem;
    background-color: aquamarine;
}
main{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
section.grid{
    width: 1000px;
    height: 200px;
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
}
article{
    margin: 3px;
    width: calc(100% / 5 - 6px);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.d-none{
    display: none;
}